#cart div img{
    height: 100px;
    width: 100px;
    transition-duration: 0.8s;
}
#cart{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}

#div_img{
    display: flex;
    justify-content: center;
    border: none;
}

#cart div button{
    height: 30px;
    width: 100px;
    background-color: rgb(160, 148, 95);
    border-radius: 15px 15px 15px 15px;
    border: none;
    cursor: pointer;
}
#text_box{
    height: 120px;   
}
.box{
    border-color: rgb(250, 174, 82);
    border-style: dashed;
    border-width: 2px;
    padding: 30px;
    text-align: center;
}
