*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    padding: 10px;
    background-color: rgb(244, 139, 3);
    color: white;
    text-decoration: none;
}
video{
    border: 2px solid red;
    /* border-radius: 100px; */
    height:200px;
    width:200px;
}
canvas{
    display: none;
}