body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    color: #333;
}
#quiz {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 6000px;
}
h2 {
    font-size: 1.2em;
    color: #555;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #ddd;
}
button.green {
    background-color: #4CAF50;
    color: white;
}
button.red {
    background-color: #f44336;
    color: white;
}